body{
  background-color: #f5f5f5;
}

.card{
   border-radius: 0;
}


footer{
    color: white;

}

footer .container-fluid{
    background-color: #262323;
    position: absolute;
    bottom:0;
}



footer ul{
    list-style-type: none;

}

footer li{
    list-style-type: none;
}

footer .foot-link{
    color: #fff;
}