{% block footer %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="p-3">
                    <h3>Other Feature</h3>
                    <br/>
                </div>
                <div class="footer-item">
                    <ul>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3">
                    <h3>Other Feature</h3>
                    <br/>
                </div>
                <div class="footer-item">
                    <ul>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3">
                    <h3>Other Feature</h3>
                    <br/>
                </div>
                <div class="footer-item">
                    <ul class="mr-auto">
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="foot-link" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}